* {
  box-sizing: border-box;
}

body {
  background-image: url("background3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Helvetica, Arial, sans-serif;
  color: #f9f7fe;
  margin: 0;
  padding: 0;
}

a {
  color: #d88e49;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.container {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border: 1px solid #d88e49;
  border-radius: 20px;
  max-width: 700px;
  margin: 100px auto;
  box-shadow: 0 0 40px rgba(216, 142, 73, 0.6);
}

header {
  margin-bottom: 30px;
}
h1 {
  color: #d88e49;
  text-align: center;
}

form {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 30px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.05);
  border-radius: 10px;
  margin-bottom: 30px;
}

.instructions {
  flex: 1 1 100%;
  padding: 16px;
  border: 1px solid #d88e49;
  box-shadow: 0 0 10px rgba(216, 142, 73, 0.6);
  font-size: 16px;
  border-radius: 20px;
  line-height: 20px;
  background-color: #000000e6;
  color: #ffffff;
  width: 100%;
}

.submit-button {
  background: #000000;
  color: #ffffff;
  border: 1px solid #d88e49;
  font-size: 16px;
  border-radius: 20px;
  padding: 14px 24px;
  cursor: pointer;
}
.submit-button:hover {
  box-shadow: 0 0 30px rgba(216, 142, 73, 0.6);
}

.practice {
  width: 600px;
  height: 400px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffdec0;
  border: 2px dotted rgba(216, 142, 73, 0.6);
  box-shadow: 0 0 40px rgba(216, 142, 73, 0.6);
  padding: 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
  padding: 300px 20px;
  color: #f9f7fe;
}
